@media screen and (max-width:760px){
    header{
        flex-direction: column;
    }

    main{
        flex-direction: column;
    }

    h2{
        font-size: 38px;
        margin: 30px;
    }
    form{
        margin: 0 auto;
        width: 50%;
    }
    input{
        align-self: center;
    }
    img{
        margin-top: 10px;
        margin-bottom: 0 auto;
        width: 498px;
        
    }
    ul{
        text-align: center;
    }
}